.BtnSignIn {
  position: absolute;
  top: 40px;
  display: block;
  padding: 8px 0px 8px 0px;
  min-width: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &::after {
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: 9px;
    right: 30px;
    width: 7px;
    width: 18px;
    height: 14px;
    height: 18px;
    background-image: url('../../assets/images/btnEnter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: (780px)) {
      visibility: visible;
      opacity: 1;
    }

    @media (max-width: (540px)) {
      right: 20px;
    }
  }


  @media (max-width: (780px)) {
    font-size: 0;
    align-self: flex-start;
    padding: 0px 10px;
    width: 30px;
    height: 30px;
    border: none;
  }

  @media (max-width: (540px)) {
    min-width: 25px;
  }
}

.btnRight {
  right: 30px;

  @media (max-width: (540px)) {
    right: 0px;
  }
}